/* Main Style */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
}

img {
  width: 100%;
}

body {
  background-color: #F5F5F5;
  margin: 0 auto;
  color: #121517;
}

/* Sprouts Project Section Style */
.cover {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DAD95F;
  height: 720px;
}

.projects-container,
.column {
  color: #474747;
}

.cover > img {
  max-width: 100%;
  width: 752px;
  height: auto;
}

.column > img {
  width: 100%;
  height: auto;
}

.row  {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 100px 0 300px 0;
}

.column  {
  display: block;
  justify-content:space-between;
  margin: 100px 0 300px 0;
}

.row > * {
  flex: 1 2;
}

.cover-left > h2 {
  font-family: tenon, sans-serif;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 1px;
}

.cover-right {
  padding-top: 20px;
}

.cover-right > p {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.overview-right {
  margin-top: 60px;
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
}

.overview-right > div > p {
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

.overview-right > div > h3,
.column-bottom > p {
  margin-bottom: 10px;
}

.column-top,
.column-bottom {
  margin: 30px 0 80px 0;
}

.column > p,
.column > div > p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0.3px;
  width: 90%px;
}

.column > h3 {
  font-size: 24px;
  font-weight: 600;
  color: #4E7B85;
  margin-bottom: 10px;
}

.column > h4,
 .column > div > h4{
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  margin: 20px 0 12px 0;
}

.column span {
  font-size: 14px;
  font-weight: 400;
  color: #B8B8B8;
  float: right;
  padding-bottom: 20px;
}

.preview-link {
  padding-top: 10px;
  text-align: center;
}

.preview-link  a {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 300;
  border-bottom: 1.2px solid #BB9F06;
  padding-bottom: 2px;
  color: #474747;
}

.preview-link a:hover,
.preview-link a:active {
  background-color: hsla(51, 94%, 38%, 0.1);
}

.img-shadow {
  box-shadow: -8px 9px 20px 0 #EBEBEB;
}

.column-bottom-two {
  display:flex;
  margin: 100px 0 150px 0;
}

.column-bottom-two > div > img {
  padding: 20px 0 20px 0;
  width: 50%;
  height: auto;
}

.column-before,
.column-after {
  width: 60%;
}

.column-bottom-two > div > p,
.column-bottom-two > div > h5  {
  font-size: 16px;
  color: #5C5C5C;
  font-weight: 300;
  line-height: 26px;
  text-align: left;
  width: 60%;
}

.column-bottom-two > div > h5 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 6px;
}

.column-img {
  display:inline-flex;
  width: 100%;
}

.project-nav {
  display: flex;
  justify-content: space-between;
}

.project-nav-right > p,
.project-nav-left > a {
  font-weight: 500;
  font-size: 18px;
  line-height: 60px;
}

.project-selected {
  font-size: 18px;
  font-weight: 400;
  letter-spacing:0.8px;
  padding: 3px;
  background-color: #BB9F06;
  color: #fefefe;
  text-decoration: none;
  border-bottom: none;
}

.project-nav-left > a,
.next-project a{
font-size: 18px;
letter-spacing:0.8px;
font-weight: 500;
border-bottom: 1.2px solid #BB9F06;
padding: 6px 3px 3px 3px;
color: #121517;
}

/* Footer Section Style */
footer {
  display: block;
  background-color: #e9e9e9;
}
.footer-container {
  margin-top: 200px;
}

/* Responsive Mode */
@media only screen and (max-width: 1024px) {
  .cover > img {
    width: 90%;
  }

  .row {
    display: inline-block;
    margin: 80px 0 60px 0;

  }
  .column {
    margin: 0;
  }

  .column > p,
  .column > div > p {
    font-size: 16px;
    line-height: 26px;
  }

  .column > h3 {
    font-size: 20px;
  }

  .overview-right {
    width: 90%;
  }

  .column > h3 {
    margin-bottom: 0;
  }

  .column-bottom-two {
    margin: 30px 0 80px 0;
  }

  .project-nav {
    margin-top: 100px;
  }
}
