/* Main Style */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  box-sizing: border-box;
}

html {
  scroll-behavior : smooth;
}

img {
  width: 100%;
}

body {
  background-color: #e9e9e9;
  margin: 0 auto;
  color: #121517;
}

.scrollup {
    width: 46px;
    height: 46px;
    position: fixed;
    bottom: 60px;
    right: 200px;
    display: none;
    text-indent: -9999px;
    background: url("../img/home-page/up-button.svg") no-repeat;
}

.scrollup:hover {
    background: url("../img/home-page/up-button-hover.svg") no-repeat;
     opacity: 0.5;
}

header,
.hero-container,
.projects-container,
.footer-container,
.about-container,
.skills-container {
  margin: 0px auto;
  max-width: 1100px;
}



/* Navigation Section Style */
.nav-wrapper {
  padding: 30px 0 30px 0;
}

.img-logo {
  background-image: url("../img/home-page/my-logo-gold.svg");
  width: 30px;
  height: 30px;
  position: absolute;
}

.img-logo:hover,
.img-logo:active {
  background-image: url("../img/home-page/my-logo-black.svg");
  width: 30px;
  height: 30px;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding:  0;
}

nav > ul > li {
  display: inline-block;
  list-style: none;
  padding: 0;
}

nav > ul > li > a {
  display: inline-block;
  padding: 0 0 0 35px;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}


/* Hamburger menu */
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 6px;
  font-size: 18px;
  color: #5C5C5C;
}

.navtoggle.responsive nav {
  padding: 32px 0 0;
}

.navtoggle.responsive ul {
  margin-top: 30px;
}

.navtoggle.responsive li  {
  display: block;
  padding: 16px 0;
}
.navtoggle.responsive a {
  padding: 0;
}
.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

nav span {
  border-bottom: 1px solid #BB9F06;
  padding: 3px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 2px;
  color: #121517;
}

.nav-link {
  position: relative;
  z-index: 1;
}

.nav-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(187, 159, 6, 0.2);
  transition: -webkit-transform 200ms ease-in;
  transition: transform 200ms ease-in;
  transition: transform 200ms ease-in, -webkit-transform 200ms ease-in;
}

.nav-link::after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
 -webkit-transform-origin: right;
         transform-origin: right;
}

.nav-link:hover::after,
.nav-link:active::after {
  -webkit-transform: scaleX(1);
           transform: scaleX(1);
  -webkit-transform-origin: left;
           transform-origin: left;
}

span.nav-link-current {
background-color: rgba(187, 159, 6, 0.2);
}


/* Hero Section Style */
.hero-container {
  padding: 230px 0 250px 0;
}

.intro-left h1 {
  margin-bottom: 20px;
  font-size: 48px;
  font-family: 'roc-grotesk-wide', sans-serif;
  font-weight: 500;
}

.intro-right {
  margin-left: 60px;
}

.intro-text {
  margin-left: 0px;
  max-width: 720px;
  font-size: 20px;
  line-height: 38px;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: #525252;
}

.intro-wave {
  background-image: url("data:image/svg+xml,%3Csvg id='squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='%23BB9F06' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 26px 8px;
  border-bottom: 0;
  padding-bottom: 8px;
  text-decoration: none;
  -webkit-animation: intro-wave 12s linear infinite;
}

@keyframes intro-wave {
  from {background-position: 2px 24px;}
  to {background-position: 500px 24px;}
}

.explore-text  {
  font-size: 14px;
  margin-top: 20px;
  font-weight: 500;
}


/* Work Section Style */
.my-work-text {
  margin-bottom: 30px;
  margin-left: 600px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #525252;
}

.my-work-text > p {
  letter-spacing:0.3px;
}

.my-work-text > p > span {
  font-size: 24px;
  padding-left: 6px;
  position: absolute;
}

.project-preview {
  display:flex;
  align-items: center;
  margin-bottom: 90px;
  height: 480px;
  background-color: #E0E0E0;
  border-radius: 5px;
}

.project-preview-right {
  width: 35%;
}

.project-preview-left {
  transition: transform .3s;
}

.project-preview-left:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.title-text {
  font-family: 'roc-grotesk-wide', sans-serif;
  font-weight: 500;
  font-size: 34px;
  line-height: 48px;
  letter-spacing: 0.6px;
}

.description-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #525252;
}

.my-role-text {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin: 20px 0 60px 0;
  color: #808080;
}

.project-preview-left > a > div,
.project-preview-left > div {
  width: 650px;
  height: auto;
}

.project-preview-right > a > span {
  letter-spacing: 1.2px;
  font-weight: 500;
  border-bottom: 1.2px solid #BB9F06;
  padding: 6px 3px 3px 3px;
  color: #121517;
}


/* About Section Style */
.about-container, .skills-container {
  margin-top: 180px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  align-items: stretch;
}

.about-left {
  width: 35%;
}

.about-text,
.about-text span {
  color: #333;
  font-weight: 600;
  font-size: 34px;
  line-height: 52px;
  padding: 30px 0 30px 0;
  letter-spacing: 0.6px;
}

.about-left > img{
  width: 220px;
  height: auto;
}

.about-wave {
  background-image: url("data:image/svg+xml,%3Csvg id='squiggle-svg' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cpath fill='none' stroke='%23BB9F06' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 28px 8px;
  border-bottom: 0;
  padding-top: 20px !important;
  text-decoration: none;
  -webkit-animation: about-wave 12s linear infinite;
}

@keyframes about-wave {
  from {background-position: 0px 58px;}
  to {background-position: 500px 58px;}
}



.about-right,
.about-right-list {
  flex: 1;
  margin-left: 70px;
}

.about-right > p,
.about-right > p > a {
  font-weight: 500;
  font-size: 18px;
  line-height: 38px;
  color: #525252;
}

.about-right-list ul {
  list-style: none;
  font-size: 18px;
  line-height: 46px;
  font-weight: 400;
  color: #525252;
  display: inline-block;
  float: left;
  width: 320px;
}

.about-right > p > a {
  font-weight:600;
  color: #121517;
  padding-left: 0px;
  border-bottom: 1.2px solid #BB9F06;
  padding: 2px;
}


/* Footer Section Style */
footer {
  display: block;
  background-color: #f5f5f5;
}

.footer-container {
  margin-top: 400px;
  padding: 60px 0 60px 0;
  display:flex;
  align-items: flex-end;
  justify-content: space-between;
}

.info-left > p {
  font-size: 26px;
  font-family: 'roc-grotesk-wide', sans-serif;
  font-weight: 500;
  line-height: 44px;
}

.info-left > p > a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing:0.8px;
  border-bottom: 1.2px solid #BB9F06;
  padding: 6px 3px 3px 3px;
  color: #121517;
}

.info-right > p {
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.5px;
  text-align: right;
  text-transform: uppercase;
}


/* SVG Animation */
.project-svg {
  border-radius: 6px;
}

.animation-text > p {
  margin-top: 6px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #858585;
}

#Layer_1 svg {
  -webkit-animation-play-state: paused;
}

#_x3C_background_x3E_{
  -webkit-animation: bkg 10s alternate infinite;
  -webkit-animation-timing-function:ease-in-out;
}

@keyframes bkg {
  from {fill:#AAB9C6;}
  to {fill:#CDE4F7;}
}

#_x3C_sun_x3E_ {
  position: relative;
  -webkit-animation: sun 10s alternate infinite;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes sun {

  from {transform: translateY(0);}
  to {transform: translateY(100px);}
}

#color-change-1 {
  -webkit-animation: color-change-1 10s alternate infinite;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes color-change-1 {
  0% {fill: #FFF5DB;}
  50% {fill: #FFE89C;}
  75% {fill: #FEDC58}
  100% {fill: #FEDC58}
}

#color-change-2 {
  -webkit-animation: color-change-2 10s alternate infinite;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes color-change-2 {
  0% {fill: #fff; opacity: 0.5;}
  50% {fill: #FFEEBB;opacity: 0.5;}
  75% {fill: #FFE27D; opacity: 0.5;}
  100% {fill: #FFE27D; opacity: 0.5;}
}

#color-change-3 {
  -webkit-animation: color-change-3 10s alternate infinite;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes color-change-3 {
  0% {fill: #fff; opacity: 0.5;}
  50% {fill: #FFF5DB;opacity: 0.5;}
  75% {fill: #FFE89C; opacity: 0.5;}
  100% {fill: #FFE89C; opacity: 0.5;}
}

#_x3C_cloud-3_x3E_{
  position: relative;
  -webkit-animation: cloud3 10s alternate infinite;
}

@keyframes cloud3 {
  from {transform: translate(0);}
  to {transform: translate(60px);}
}

#_x3C_cloud-4_x3E_{
  position: relative;
  -webkit-animation: cloud4 11s alternate infinite;
  -webkit-animation-delay: 0.5s;
}

@keyframes cloud4 {
  from {transform: translate(0);}
  to {transform: translate(60px);}
}

#_x3C_cloud-2_x3E_ {
  position: relative;
  -webkit-animation: cloud2 10s alternate infinite;
}

@keyframes cloud2 {
  from {transform: translate(0);}
  to {transform: translate(50px);}
}

#_x3C_cloud-5_x3E_ {
  position: relative;
  -webkit-animation: cloud5 11s alternate infinite;
  -webkit-animation-delay: 0.5s;
}

@keyframes cloud5 {
  from {transform: translate(0);}
  to {transform: translate(60px);}
}

#_x3C_cloud-1_x3E_ {
  position: relative;
  -webkit-animation: cloud1 10s alternate infinite;
}

@keyframes cloud1 {
  from {transform: translate(0);}
  to {transform: translate(60px);}
}

/* Responsive Mode */
@media screen and (max-width: 1220px), and (width: 641px) {
  header,
  .intro-left,
  .about-container,
  .skills-container {
    padding: 0 36px 0 36px ! important;
  }

  .scrollup {
    width: 36px;
    height: 36px;
    right: 50px;
  }

  .project-preview {
    flex-direction: column;
    height: 720px;
    margin-bottom: 80px;
  }
  .projects-container{
    width: 90%;
  }

  .my-work-text {
    display: none;
  }

  .hero-container {
    padding: 160px 0 160px 0;
  }

  .project-preview-right {
    width: 80%;
  }

  .footer-container {
    display: block;
    margin-top: 100px;
    padding: 0 36px 60px 36px;
  }

  .info-right > p {
    text-align: left;
  }

  .info-right {
    margin-top: 30px;
  }

  .info-left {
    padding-top: 60px;
  }
}


@media only screen and (max-width: 641px) {
  header,
  .intro-left,
  .about-container,
  .skills-container {
    padding: 0 36px 0 36px;
  }

  header {
    background-color: #E0E0E0;
  }

 .scrollup {
   width: 36px;
   height: 36px;
   right: 50px;
  }

  nav span {
    border-bottom: none;
  }

  .projects-container{
    width: 90%;
  }

  .intro-left h1 {
    font-size: 42px;
  }

  .my-work-text {
    display: none;
  }

  .hero-container {
    padding: 80px 0 100px 0;
  }

  .projects-container {
    width: 100%;
  }

  .project-preview {
    flex-direction: column;
    justify-content: center;
    height: 620px;
    margin-bottom: 80px;
    border-radius: 0;
  }

  .project-preview-left > a > div,
  .project-preview-left > div {
    width:420px;
    height: auto;
  }

  .project-preview-right,
  .animation-text {
    width: 80%;
    margin: 0 auto;
  }

  .title-text {
    font-size: 28px;
  }

  .description-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
  }

  .my-role-text {
    margin: 20px 0 30px 0;
    font-size: 14px;
  }

  .animation-text p {
    font-size: 14px;
  }

  .footer-container {
    display: block;
    margin-top: 140px;
    padding: 0 36px 60px 36px;
  }

  .info-right > p {
    text-align: left;
  }

  .info-left > p {
    font-size: 20px;
    line-height: 32px;
  }

  .info-left > p > a {
    font-size: 16px;
    line-height: 60px;
  }

  .info-right {
    margin-top: 30px;
  }

  .info-left {
    padding-top: 60px;
  }

  .about-container {
    margin-top: 60px;
    display:block;
  }

  .about-left {
    width: 100%;
  }

  .about-left > p,
  .about-wave {
    font-size: 28px;
  }

  .skills-container {
    display: inline-block;
    margin-top: 80px;
  }

  .about-right > p,
  .about-right > p > a {
    font-size: 16px;
    line-height: 32px;
  }

  .about-left > img{
    width: 180px;
    height: auto;
  }

  .about-right-list ul {
    font-size: 16px;
  }

  .about-right,
  .about-right-list {
    flex: 1;
    margin-left: 0px;
  }
}


@media only screen and (min-width: 641px)
{
  header {
   text-align: unset;
   padding: 20px 0 13px;
  }

 nav {
   width: auto;
   float: right;
   margin-top: 4px;
 }

 nav > ul > li {
   display: inline-block;
   position: relative;
 }

 .navtoggle li:not(:last-child) {
   display: inline-block;
 }

 .navtoggle li:last-child {
   display: none;
 }
}
